In [1]:
import pandas as pd
import pandas_profiling

In [58]:
pg_df = pd.read_csv('.\Data\Postsecondary_graduates_canada.csv')

# Data Cleaning

In [59]:
pg_df.head(3)

,REF_DATE,GEO,DGUID,Level of study,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2000,Canada,2016A000011124,College,Number of graduates,Number,223,units,0,v90469943,1.1.1,101400.0,NaN,NaN,NaN,0
1,2000,Canada,2016A000011124,College,Females,Percent,239,units,0,v90469944,1.1.2,57.0,NaN,NaN,NaN,0
2,2000,Canada,2016A000011124,College,Average age at graduation,Years,308,units,0,v90469945,1.1.3,27.0,NaN,NaN,NaN,0

In [60]:
shape = pg_df.shape
print("The dataframe has {0} rows and {1} columns".format(shape[0],shape[1]))

The dataframe has 1056 rows and 16 columns

In [61]:
pg_df.isna().sum().sort_values(ascending = False)

SYMBOL            1056
TERMINATED        1056
STATUS             828
VALUE               80
REF_DATE             0
GEO                  0
DGUID                0
Level of study       0
Statistics           0
UOM                  0
UOM_ID               0
SCALAR_FACTOR        0
SCALAR_ID            0
VECTOR               0
COORDINATE           0
DECIMALS             0
dtype: int64

In [62]:
drop_cols = ['SYMBOL','TERMINATED','STATUS']

In [63]:
pg_df.drop(drop_cols, axis = 1, inplace = True)

In [64]:
shape = pg_df.shape
print("The dataframe has {0} rows and {1} columns".format(shape[0],shape[1]))

The dataframe has 1056 rows and 13 columns

In [65]:
pg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REF_DATE        1056 non-null   int64
 1   GEO             1056 non-null   object
 2   DGUID           1056 non-null   object
 3   Level of study  1056 non-null   object
 4   Statistics      1056 non-null   object
 5   UOM             1056 non-null   object
 6   UOM_ID          1056 non-null   int64
 7   SCALAR_FACTOR   1056 non-null   object
 8   SCALAR_ID       1056 non-null   int64
 9   VECTOR          1056 non-null   object
 10  COORDINATE      1056 non-null   object
 11  VALUE           976 non-null    float64
 12  DECIMALS        1056 non-null   int64
dtypes: float64(1), int64(4), object(8)
memory usage: 107.4+ KB

### As value is a numeric field, replacing the NaN as 0

In [66]:
pg_df.VALUE.fillna(0, inplace = True)

In [67]:
pg_df.isna().sum().sort_values(ascending = False)

REF_DATE          0
GEO               0
DGUID             0
Level of study    0
Statistics        0
UOM               0
UOM_ID            0
SCALAR_FACTOR     0
SCALAR_ID         0
VECTOR            0
COORDINATE        0
VALUE             0
DECIMALS          0
dtype: int64

In [68]:
pg_df.head(2)

,REF_DATE,GEO,DGUID,Level of study,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,DECIMALS
0,2000,Canada,2016A000011124,College,Number of graduates,Number,223,units,0,v90469943,1.1.1,101400.0,0
1,2000,Canada,2016A000011124,College,Females,Percent,239,units,0,v90469944,1.1.2,57.0,0

### For our analysis, UOM_ID, Scalar_ID, Vector, Co-ordinate and Decimals are not required, hence removing them

In [69]:
drop_cols = ['UOM_ID','SCALAR_FACTOR','SCALAR_ID','VECTOR','COORDINATE','DECIMALS']
pg_df.drop(drop_cols, axis = 1, inplace = True)

In [70]:
pg_df.head(2)

,REF_DATE,GEO,DGUID,Level of study,Statistics,UOM,VALUE
0,2000,Canada,2016A000011124,College,Number of graduates,Number,101400.0
1,2000,Canada,2016A000011124,College,Females,Percent,57.0

### Renaming the columns for our better understanding

In [71]:
def capitalize(col):
    return col.capitalize()
def trimSpaces(col):
    return col.replace(" ","")

In [72]:
pg_df.columns = pg_df.columns.to_series().apply(capitalize)

In [73]:
pg_df.columns = pg_df.columns.to_series().apply(trimSpaces)

In [74]:
pg_df.columns

Index(['Ref_date', 'Geo', 'Dguid', 'Levelofstudy', 'Statistics', 'Uom',
       'Value'],
      dtype='object')

In [75]:
pg_df = pg_df.rename(columns={"Ref_date":"Year",
                               "Geo":"Province_of_Study",
                               "Uom":"Unit_of_measure"})

In [76]:
print("Basic Summary of the data")
print("===========================================================")
shape = pg_df.shape
print("The dataframe has {0} rows and {1} columns".format(shape[0],shape[1]))
print("===========================================================")
print("Datatype")
pg_df.info()
print("===========================================================")
print('Numeric Column Description')
print(pg_df.describe())
print("===========================================================")
print('Categorical Column Description')
print(pg_df.describe(include='O'))

Basic Summary of the data
===========================================================
The dataframe has 1056 rows and 7 columns
===========================================================
Datatype
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               1056 non-null   int64
 1   Province_of_Study  1056 non-null   object
 2   Dguid              1056 non-null   object
 3   Levelofstudy       1056 non-null   object
 4   Statistics         1056 non-null   object
 5   Unit_of_measure    1056 non-null   object
 6   Value              1056 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 57.9+ KB
===========================================================
Numeric Column Description
              Year          Value
count  1056.000000    1056.000000
mean   2007.500000    2642.929924
std       5.592819   14988.063309
min    2000.000000       0.000000
25%    2003.750000      24.000000
50%    2007.500000      34.000000
75%    2011.250000      60.000000
max    2015.000000  203800.000000
===========================================================
Categorical Column Description
       Province_of_Study        Dguid Levelofstudy  \
count               1056         1056         1056
unique                11           11            4
top               Canada  2016A000246   Bachelor's
freq                  96           96          264

                        Statistics Unit_of_measure
count                         1056            1056
unique                           6               3
top     Under age 25 at graduation         Percent
freq                           176             528

# Data Profiling

In [77]:
profile = pg_df.profile_report(title='Canada Postsecondary Graduates Profiling Report')

In [78]:
profile.to_file(output_file="Canada_PSG.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]